.loading {
    width: 700px;
    height: 50px;
    border: 0.5px solid black;
    border-radius: 30px;
    margin: 100px auto;


}




.color {
    border-radius: 30px;
    width: 700px;
    height: 50px;

    background-color: brown;
    animation: progress 5s normal forwards infinite;


}




@keyframes progress {
    0% {
        width: 0;
        background-color: rgb(238, 166, 166);
    }

    25% {
        background-color: rgb(208, 83, 83);
    }

    50% {
        background-color: rgb(249, 68, 68)
    }

    75% {
        background-color: rgb(248, 27, 27)
    }

    100% {
        width: 100%;
        background-color: red;
    }
}








.loading p {
    text-align: center;
    font-size: 30px;

}



.wolf {
    width: 200px;
    height: 200px;
    animation: wolf1;
    animation-duration: 7s;
    animation-delay: 0s;


}


@keyframes wolf1 {
    0% {
        margin-left: 0;
        margin-top: 0;
    }

    5% {
        margin-left: 200px;
        margin-top: 0;
    }

    15% {
        margin-left: 300px;
        margin-top: 0;
    }

    25% {
        margin-left: 400px;
        margin-top: 0;
    }

    35% {
        margin-left: 500px;
        margin-top: 0;
    }

    45% {
        margin-left: 600px;
        margin-top: 0;
    }

    55% {
        margin-left: 700px;
        margin-top: 0;
    }

    65% {
        margin-right: 600px;
        margin-top: 0;
    }

    75% {
        margin-left: 500px;
        margin-top: 0;
    }

    85% {
        margin-left: 400px;
        margin-top: 0;
    }

    95% {
        margin-left: 300px;
        margin-top: 0;
    }

    100% {
        margin-left: 200px;
        margin-top: 0;
    }
}



.davaleba2{ background-color: antiquewhite;}
.grass{ width: 100vw;
height: 200px;}